/* =Comments
-------------------------------------------------------------- */

.comments {
	padding-bottom: 30px;
}

article.comment {
	display: block;
}
#respond {
	input[type=text] {
		display: block;
		width: 60%;
	}
	textarea {
		display: block;
		margin: 0 0 1em;
		width: 80%;
	}
	.form-allowed-tags {
		clear: both;
		width: 80%;
		code {
			display: block;
		}
	}
}

