body {
	font-weight: 200;
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4 {
	font-weight: 200;
}

h1 {
	font-weight: 200;
	font-size: 26px;
	line-height: 29px;
}

/* =Links
-------------------------------------------------------------- */
a {
	&:hover {
		text-decoration: none;
	}
}

button:focus {
	outline:0;
}

/* =Content
-------------------------------------------------------------- */

/* =Blogroll --*/
section.blogroll {
	article.post {
		a.school {
			font-size: 13px;
			i {
				margin-left: 10px;
				font-size: 12px;
			}
		}
		h1.entry-title {
			margin: 10px 0px;
		}
		figure.featured-image {
			width: 100%;
			overflow-y: hidden;
			max-height: 438px;
			.wp-post-image {
				width: 100%;
				height:100%;
			}
		}
		footer {
			a.read-more {
				border: 1px solid $highlight-color;
				padding: 6px 10px;
				font-size: 13px;
			}
		}
	}
}

/* =Post --*/
article.post {
	.byline {
		padding: 0px 0px 15px;
		a {
			text-transform: uppercase;
			font-weight: 300;
		    font-size: 11px;
		}
	}
	.brief {
		margin-top: 25px;
		font-size: 16px;
		line-height: 26px;
	}
}

/* =Ads
-------------------------------------------------------------- */
.ad {
	padding: 20px 0px;
	text-align: center;
}

/* =Images
-------------------------------------------------------------- */

.image-attachment {
	div.entry-meta {
		float: left;
	}
	nav {
		float: right;
		margin: 0 0 1em 0;
	}
	.entry-content {
		clear: both;
		.entry-attachment {
			background: #eee;
			margin: 0 0 1em;
			padding: 1em;
			text-align: center;
		}
		.attachment {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
	margin-right: 1em;
}
img.alignright {
	margin-left: 1em;
}
.wp-caption {
	padding: .5em;
	text-align: center;
}
.wp-caption img {
	margin: .25em;
}
.wp-caption .wp-caption-text {
	margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
	margin: 0;
}

/* =Widgets
-------------------------------------------------------------- */

.widget {
	display: block;
}
.widget-area .widget_search {
	overflow: hidden;
	input {
		float: left;
	}
}
