body {
	width: 100%;
	font-weight: 200;
	font-size: 16px;
	&.noscroll {
		position: fixed;
		overflow-y: hidden;
	}
}

/* =Headings
-------------------------------------------------------------- */
h1, h2, h3, h4 {
	font-weight: 200;
}

h1 {
	font-weight: 200;
	font-size: 26px;
	line-height: 1.3em;
}

/* =Links
-------------------------------------------------------------- */
a {
	&:hover {
		text-decoration: none;
	}
}

a:focus, button:focus {
	outline: 0;
	text-decoration: none;
}

/* =Content
-------------------------------------------------------------- */

/* =Blogroll --*/
.blogroll {
	@include make-row();
	article.post, article.video, article.page {
		overflow: auto;
		padding: 15px 0px;
		border-bottom: 1px solid #e4e4e4;
		figure.featured-image {
			display: inline-block;
			float: left;
			max-height: 430px;
			overflow-y: hidden;
			@media( max-width: $screen-sm-max ) {
				padding-right: 0px;
			}
			img.wp-post-image {
				width: 100%;
				height: auto;
			}
		}
	}

	section {
		padding-top: 4%;
		&.no-post-image {
			padding: 50px 15px;
			text-align: center;
		}
		h1 {
			margin-top: 16px;
			font-size: 36px;
			@media( max-width: $screen-lg-min ) {
				font-size: 30px;
			}
			@media( max-width: $screen-sm-max ) {
				font-size: 24px;
			}
		}
		.trb_socialize_bar {
			padding: 0px;
		}
		@media( max-width: $screen-sm-max ) {
			padding: 20px 40px !important;
			text-align: center;
		}
	}

	&:not( .hero ) {
		@media( max-width: $screen-sm-max ) {
			article.post {
				figure.featured-image {
					padding-right: 15px;
				}
			}
		}
	}
}

/* =Post
-------------------------------------------------------------- */
article.post, article.video, article.page {
	overflow: auto;
	&.single {
		h1.entry-title {
			font-size: 32px;
		}
		.wp-post-image {
			width: 100%;
			height: auto;
		}
		.entry-meta {
			margin-bottom: 20px;
		}
		p {
			color: #000000;
			line-height: 1.8em;
		}
	}
	.trb_socialize_bar {
		display: block;
		margin-top: 25px;
	}
	figure.byline {
		padding: 15px 0px 0px;
		margin: 0;
		display: inline-block;
		text-align: left;
		overflow: auto;
		img {
			float: left;
			width: 70px;
			height: 70px;
      border-radius: 50%;
			@media( max-width: $screen-sm-max ) {
				width: 60px;
				height: auto;
			}
		}
		figcaption {
			float: left;
			width: calc(100% - 70px);
			padding: 16px 22px;
			a, .posted_on {
				text-transform: uppercase;
				font-weight: 300;
				font-size: 13px;
			}
      .posted_on {
        display: block;
      }
			@media( max-width: $screen-sm-max ) {
				padding-top: 12px;
			}
		}
		@media( max-width: $screen-sm-max ) {
			padding-top: 0px;
		}
	}
	.brief {
		margin-top: 25px;
		font-size: 16px;
		line-height: 26px;
	}
}

a.school {
	display: block;
	margin-top: 15px;
	font-size: 13px;
	i {
		margin-left: 10px;
		font-size: 12px;
	}
}

/* =Hero
-------------------------------------------------------------- */
.hero {
	display: block;
	overflow: auto;
	background: transparent;
	padding: 0px !important;
	margin-bottom: 0px !important;
	@include hsinsider-border-radius( 0px );
	@include make-row();

	article.post, article.video {
		padding: 0px;
		figure.featured-image {
			padding-left: 0px;
		}
	}

	h1 {
		margin-top: 16px;
		font-size: 36px;
		@media( max-width: $screen-lg-min ) {
			font-size: 30px;
		}
		@media( max-width: $screen-sm-max ) {
			font-size: 24px;
		}
	}

	p {
		font-size: 16px;
	}
}

/* =Archive Header
-------------------------------------------------------------- */
.archive-header {
	border-bottom: 1px solid #e4e4e4;
	.map {
		padding-left: 0px;
    width: 50%;
    max-width: 225px;
    #gmap {
      height: 100%;
      max-height: 190px;
    }
		@media( max-width: $screen-md-min ) {
			padding-right: 0px;
		}
	}
	h1.entry-title {
		font-family: 'Belizio';
    text-align: center;
		@media( min-width: $screen-md-min ) {
			font-size: 32px;
		}
	}

	.no-post-image {
		.school-image-column, .school-description-column {
			@include make-md-column( 12 );
		}
	}

  img.school-image {
    width: 50%;
  }

	img.avatar {
		width: 100%;
		max-width: 165px;
		height: auto;
		@media( max-width: $screen-sm-max ) {
			margin: 0 auto 14px;
		}
	}

	.author-info {
		@include make-row();
		padding: 30px 0px;
		.author-avatar {
			@include make-md-column( 3 );
			text-align: center;
		}
		.author-description {
			@include make-md-column( 9 );
			.entry-title.author {
				margin: 0px;
				padding: 15px 0px 10px;
			}
			.trb_socialize_bar {
				padding: 0px 0px 6pxf;
			}
		}
	}
	&.tag-category {
		text-align: center;
		span.active-order {
			font-weight: bold;
		}
	}
}

.author figure.byline figcaption{
	padding-left: 0px !important;
}

/* =Tags
-------------------------------------------------------------- */
.cat-links, .tags-links {
	a {
		display: inline-block;
		padding: 7px 14px;
		margin: 2px 1px;
		background: #505050;
		color: $white;
		&:hover {
			background: $highlight-color;
			color: #333;
		}
	}
}

.page-template-page-about-php {
	#primary > header {
		padding: 30px 0px;
		p.lead {
			margin: 10px 0px;
		}
	}
	.map {
		padding: 0px;
	}

	article footer {
		.widget_hsinsider_newsletter {
			overflow: auto;
			padding: 0px 30px 30px;
			margin: 40px 0px 30px;
		}
	}
}

.page-template-default {
	article {
		@include make-md-column( 8 );
	}
}

.page-header {
	@include make-row();
	margin-bottom: 0px;
	text-align: center;
	.page-title {
		margin: 0px 0px 30px;
	}
}

.not-found {
	margin: 100px auto;
	text-align: center;
	.icon {
		.fa-stack-1x {
			top: -3px;
    		left: -7px;
    	}
	}
}

/* =Images
-------------------------------------------------------------- */
.image-attachment {
	div.entry-meta {
		float: left;
	}
	nav {
		float: right;
		margin: 0 0 1em 0;
	}
	.entry-content {
		clear: both;
		.entry-attachment {
			background: #eee;
			margin: 0 0 1em;
			padding: 1em;
			text-align: center;
		}
		.attachment {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
	}
}

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}

.wp-caption {
	padding: .5em;
	text-align: center;
}
.wp-caption img {
	margin: .25em;
}
.wp-caption-text {
	margin: .5em;
	text-align: center;
}

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft, figure.alignleft {
	margin-right: 1em;
}
img.alignright, figure.alignright {
	margin-left: 1em;
}

img.alignnone, figure.alignnone {
	margin-left: 0px;
	margin-right: 0px;
}

.gallery-caption {
}
.wp-smiley {
	margin: 0;
}

/* =Widgets
-------------------------------------------------------------- */
.widget {
	display: block;
}
.widget-area .widget_search {
	overflow: hidden;
	input {
		float: left;
	}
}

#wpstats {
  display: none;
}
