/**
 * Button variants
 *
 * Easily pump out default styles, as well as :hover, :focus, :active,
 * and disabled options for all buttons
 */

@mixin button-variant-dark( $color, $background, $border ) {
  color: $color;
  background-color: $background;
  border: 1px outset $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: lighten( $background, 10% );
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

@mixin hsinsider-border-radius( $radius ) {
	border-radius: $radius !important;
	-moz-border-radius: $radius !important;
	-webkit-border-radius: $radius !important;
	-o-border-radius: $radius !important;
}

@mixin hsinsider-box-shadow( $h, $v, $blur, $spread, $color, $inset ) {
	box-shadow: $h, $v, $blur, $spread, $color, $inset;
	-moz-box-shadow: $h, $v, $blur, $spread, $color, $inset;
	-webkit-box-shadow: $h, $v, $blur, $spread, $color, $inset;
	-o-box-shadow: $h, $v, $blur, $spread, $color, $inset;
}

@mixin hsinsider-button-dark() {
	@include button-variant-dark( $white, $gray-dark, $white );
	@include hsinsider-border-radius( 0px );
	
	display: inline-block;
	height: 30px;
	padding: 5px 7px;
	font-family: $font-family-sans-serif;
	font-weight: 300;
	font-size: 13px;
	line-height: 17px;
}

@mixin hsinsider-form-button() {
	@include button-variant( #999999, $white, #e5e5e5 );
	@include hsinsider-box-shadow( 0, 8px, 6px, -6px, rgba( 206,206,206,.2 ), inset );
	width: 100%;
	border-width: 1px;
	border-style: solid;
	padding:14px 14px;
	font-size:11px;
	letter-spacing:1px;
}
.vertical-align {
	display: flex;
	align-items: center;
}