/* =Structure
-------------------------------------------------------------- */

/* Alignment */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

html {
	body{
		.site-content {
			padding-top: 60px;
			@media( max-width: $screen-sm-max ) {
				padding-top: 40px;
			}
			.content-area {
				main.site-main {
					.col-nested:first-of-type {
						padding-left: 0px;
					}
					.col-nested:last-of-type {
						padding-right: 0px;
					}
				}
				#sidebar-main.widget-area {
				}
			}
		}
		footer.site-footer {
			background: $gray-dark;
			color: $white;
			.site-info {
				@include make-md-column( 12 );
				color: $white;
				padding: 25px 10px;
				a {
					display: block;
					color: $white;
					img {
						height: 20px;
						width: auto;
						margin: 0px 10px;
					}
				}
			}
		}
	}
}