/* =Content
-------------------------------------------------------------- */

@media( min-width: $screen-md-min ) {
	.widget {
		margin: 0 auto;
	}
}

#popular {
	padding: 50px 0px;
}

.widget-area {
	border-bottom: 1px solid #e4e4e4;

	&.mid-roll {
		padding: 50px 0px;

		&.mid-roll-2 {
			padding: 20px 0px;

			.widget_hsinsider_newsletter {
				@include make-md-column( 8 );
				vertical-align: middle;
				margin-top: 7%;
				padding: 20px 30px 40px;
				background: #efefef;
				.widget-title {

				}
				form {
					@include make-row();
					input[type=email] {
						height: 45px;
					}
					input[type=submit] {
						height: 45px;
					}
				}
				@media( max-width: $screen-sm-max ) {
					text-align: center;
				}
				& + .widget_hsinsider_ad_block {
					@media( min-width: $screen-md-max ) {
						float: right;
					}
				}
			}
		}
	}
}

#sidebar-single-post {
	.block-ad {
		@include make-row();
	}
	.widget_hsinsider_featured_items {
		@include make-md-column( 12 );
		h2 {
			margin-left: 0px;
		}
		article {
			@include make-row();
			width: initial;
			float: none;
			padding-top: 20px;
			figure {
				@include make-xs-column( 5 );
				padding: initial;
			}
			.post-info {
				@include make-xs-column( 7 );
				padding-right: 0px;
			}
		}
		h4 {
			display: block;
			margin: 0px;
			padding: 0px 0px 5px;
			font-size: 17px;
		}
    a.author.url {
      font-size: 16px;
    }
	}
}

.widget_hsinsider_featured_items {
	overflow: auto;
	padding: 33px 0px 30px;
	h2 {
		margin: 0px 0px 15px 15px;
		font-weight: 300;
		font-size: 20px;
		text-transform: uppercase;
	}
	article {
		@include make-xs-column( 6 );
		@include make-md-column( 3 );
		text-align: left;
		figure.post-image {
			display: inline-block;
			position: relative;
			overflow: hidden;
			width:  100%;
			&:after {
				padding-top: 56.25%;
				/* 16:9 ratio */
				display: block;
				content: '';
			}

			img {
				display: block;
				width: 100%;
				height: auto;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
			}
		}
    @media( max-width: $screen-md-min ) {
      margin-bottom: 10px;
    }
	}

	h4 {
		display: block;
		margin: 0px;
		padding: 10px 0px;
		font-size: 16px;
		text-align: left;
	}

	.date{
		text-align: center;
		padding-bottom: 20px;
	}
}

.widget_hsinsider_newsletter {
	background: #efefef;
	input[type=email] {
		width: 100%;
		padding: 0px 14px;
		height: 31px;
	}

	input[type=submit] {
		@include hsinsider-form-button();
		padding: 7px 14px;
		-o-transition: .3s;
		-ms-transition: .3s;
		-moz-transition: .3s;
		-webkit-transition: .3s;
		transition: .3s;
	}
}

.page_widget {
	.widget_hsinsider_newsletter {
		padding: 10px 20px 30px 20px;
		margin: 30px auto 45px;
		form {
			overflow: auto;
		}
	}
}

/* =Ads
-------------------------------------------------------------- */
.widget_hsinsider_ad_block {
	text-align: center;
	.ad {
		padding: 20px 0px;
		text-align: center;
		&:after {
			content: "Advertisement"
		}
	}
}

#footer-widgets {
	overflow: auto;
	border: 0px none;
	h4, h4.widget-title {
		padding: 15px 0px;
		margin-bottom: 15px;
		font-weight: 600;
		border-bottom: 1px solid $highlight-color;
	}

	.widget_hsinsider_newsletter {
		background: transparent;
		form{
			@include make-row();
		}
		input[type=email] {
			color: #000000;
		}
	}
	.widget_nav_menu {
		ul.menu {
			list-style: none;
			padding: 0px;
			li {
				padding: 2px 0px;
				a {
					color: $white;
					&:hover {
						font-weight: 400;
					}
				}
			}
		}
	}
}

/* =Social Share Icons --*/

.trb_socialize_bar {
	display: inline-block;
	padding-top: 4px;
}

.trb_socialize_item {
	width: 32px;
	height: 32px;
	padding: 5px 6px;
	color: #333;
	font-size: 20px;
	line-height: 23px;
	font-weight: 400;
	cursor: pointer;
	position: relative;
	.trb_socialize_submenu {
		display: none;
		position: absolute;
		top: -33px;
		right: -78px;
		width:190px;
		padding: 5px;
		background-color: $gray-dark;
		color: #fff;
		> .trb_socialize_item i {
			color: #fff;
		}
	}
	&:hover > i {
		color: #ccc;
		&.LATFacebook {
			color: #3B59B6;
		}
		&.LATTwitter {
			color: #2CAAE1;
		}
		&.LATGooglePlus {
			color: #D64A2D;
		}
		&.LATPinterest {
			color: #CC2127;
		}
		&.LATStumbleUpon {
			color: #eb4924;
		}
		&.LATReddit {
			color: $highlight-color;
		}
	}
	&[data-role=socialshare_parent]:hover {
		background: $gray-dark;
		> .trb_socialize_submenu {
			display: block;
		}
	}
}
